/* Reset some default styles for the body and header */
body, h1 {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    margin-left: auto; /* Add margin-left: auto to push the container to the center */
    margin-right: auto;
}
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
.card {
    background-color: #f7f7f7; /* Off-white background */
    border: 1px solid #000; /* Black border */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;
    
    
}

.card:hover {
    transform: scale(1.05);
}
